*
!.gitignore
!clubcovers
!/club_bg.jpg
!/cup.jpg
!/duesseldorf.jpg
!/grass_brown.jpg
!/grass_bw.jpg
!/grass_green.jpg
!/spielberichtsbogen.pdf
!/bsgligalogooriginal.png
!/matchbg.jpg
!/hlwlogo.png
!/hlwlogo_w.png
!/passportbg.png

