
// Body
  $body-bg: #ffffff;

// Palette
  $primary-color-dark:   #388E3C;;
  $primary-color:        #4CAF50;
  $primary-color-light:  #C8E6C9;
  $primary-color-text:   #FFFFFF;
  $accent-color:         #607D8B;
  $primary-text-color:   #212121;
  $secondary-text-color: #757575;
  $divider-color:        #BDBDB;

// Typography
  $font-family-sans-serif: "Roboto", sans-serif;