
// Body
  $body-bg: #ffffff;

// Palette
  $primary-color-dark:   #388E3C;;
  $primary-color:        #4CAF50;
  $primary-color-light:  #C8E6C9;
  $primary-color-text:   #FFFFFF;
  $accent-color:         #607D8B;
  $primary-text-color:   #212121;
  $secondary-text-color: #757575;
  $divider-color:        #BDBDB;

// Typography
  $font-family-sans-serif: 'Roboto', sans-serif;
  $headings-font-family: 'Barlow Condensed', sans-serif;

// Colors
  $light: #e9ecef;
  $primary: $primary-color;

// Shadows
  $enable-shadows: true;

// Tabs
// change background for team detail page
// $nav-tabs-border-color:             #ddd !default;
// $nav-tabs-border-width:             $border-width !default;
// $nav-tabs-border-radius:            $border-radius !default;
// $nav-tabs-link-hover-border-color:  $gray-200 !default;
// $nav-tabs-link-active-color:        $gray-700 !default;
   $nav-tabs-link-active-bg:           $body-bg !important;
// $nav-tabs-link-active-border-color: #ddd !default;