
// Bootstrap
@import "custom";
@import "~bootstrap/scss/bootstrap";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,900,900i');

// Font-Awesome
$fa-font-path: "../../../node_modules/font-awesome/fonts" !default;
@import "~font-awesome/scss/font-awesome.scss";

// date range picker
@import "~daterangepicker/daterangepicker.scss";

body {
  min-height: 75rem;
  // padding-top: 4.5rem;
  // background: url("images/bg.jpeg") no-repeat;
}

.container {
  // background-color: #ffffff;
}

// HLW logo loader
@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: bounce;
  transform-origin: center bottom;
  fill: $primary-color;
}