
// Bootstrap
@import "custom";
@import "~bootstrap/scss/bootstrap";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,400i,700,700i,800,800i,900,900i');

// Font-Awesome
$fa-font-path: "../../../node_modules/font-awesome/fonts" !default;
@import "~font-awesome/scss/font-awesome.scss";

// date range picker
@import "~daterangepicker/daterangepicker.scss";

// sticky footer
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.app {
  flex: 1 0 auto;
}

// dropdown menu override
/*.navbar-expand-md .navbar-nav .dropdown-menu {
  position: absolute !important;
}*/

// table padding for standings
.standings> tbody > tr > td, .standings > tbody > tr > th, .standings > tfoot > tr > td, .standings > tfoot > tr > th, .standings > thead > tr > td, .standings > thead > tr > th {
  padding: 0.75rem 0.5rem 0.75rem 0.5rem;
}

// display font
.display-4 {
  font-family: "Barlow Condensed", sans-serif;
}

// HLW logo loader
  @keyframes bounce {
    from, 20%, 53%, 80%, to {
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      transform: translate3d(0,0,0);
    }

    40%, 43% {
      animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transform: translate3d(0, -30px, 0);
    }

    70% {
      animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transform: translate3d(0, -15px, 0);
    }

    90% {
      transform: translate3d(0, -4px, 0);
    }
  }

  .bounce {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: bounce;
    transform-origin: center bottom;
    fill: $primary-color;
  }