
// Bootstrap
@import "custom";
@import "~bootstrap/scss/bootstrap";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Font-Awesome
$fa-font-path: "../../../node_modules/font-awesome/fonts" !default;
@import "~font-awesome/scss/font-awesome.scss";

// date range picker
@import "~daterangepicker/daterangepicker.scss";

body {
  min-height: 75rem;
  // padding-top: 4.5rem;
  // background: url("images/bg.jpeg") no-repeat;
}

.container {
  // background-color: #ffffff;
}

nav {
  background-color: $primary-color;
}